{% extends 'accounts/base.html' %}

{%  block content %}

    <div class="row">
        <div class="col-sm-4">
            <h4 class="text-center alert alert-info">Create New Vacation </h4>
    
            <div class="d-flex justify-content-center form_container">
                {% if messages %}
                {% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}
                {% else %}
                <form method="POST" action="">
                    {% csrf_token %}
                    <label>Date From </label>
                    <div class="input-group mb-3">
                        
                        <div class="input-group-append">

                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        </div>
                        {{form.date_from}}
                    </div>
                    <label>Date End </label>
                    <div class="input-group mb-2">
                        
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        </div>
                        {{form.date_end}}
                    </div>
                    <label>Reason </label>
                    <div class="input-group mb-2">
                        

                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-file-text-o"></i></span>
                        </div>
                        {{form.reason}}
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                         <input class="btn btn-info " type="submit" value="Add">
                    </div>
                
                </form>
                {% endif %}
            </div>

     
            
        </div>
        <div class="col-sm-7 offset-1">
            <h4 class="text-center alert alert-info">List Of Your Vacations</h4>
            {% if emp %}
                <h5>Total Vacations Tooken : {{ nb_v }}</h5>
                <table class="table table-hover">
                    <thead>
                    <tr>
                      
                        <th scope="col">Date From</th>
                        <th scope="col">Date End</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Days Off</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for e in emp %}
                            <tr>
                                <th scope="row">{{e.date_from}}</th>
                                <th scope="row" >{{e.date_end}}</th>
                                <td>{{e.reason}}</td>
                                <td>{{e.nb_vacation}}</td>
                                <td>
                               
                                    <a href="{% url 'updatedata' e.id %}" id="css1" class="btn btn-sm" ><i class="fas fa-edit"></i></a>
                                </td>
                                <td>    
						            <form action="{% url 'deletedata' e.id %}" 
                                    method="POST" class="d-inline">{% csrf_token %}
                                    
                                        <button type="submit" id="css1"  class="btn btn-danger btn-sm"><i class='fas fa-calendar'></i></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}        
                    </tbody>
                </table>
            {% else %}
            <h4 class="text-center alert alert-warning">No Records</h4>
            {% endif %}
            
        </div>

    </div>

{%  endblock content %}

