{% load static %}


<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;

  }
  a:hover{
    color: #fff;
    text-decoration-line: none;
    background-color: gray;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="hello-msg">Welcome  <B>{{request.user}}</B></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
      </li>
    </ul>
  </div>


  <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>

</nav>