{% extends 'accounts/base.html' %}
{%  block content %}
   
    <div class="row">
        <div class="col-sm-8 offset-2">
            <h4 class="alert alert-info">Update Vacation Information</h4>  
            {% if messages %}  
            {% for message in messages %}
               <p id="messages">{{message}}</p>
            {% endfor %}
            {% else %}
            <form method="POST" action="">
                {% csrf_token %}
                <label>Date From </label>
                <div class="input-group mb-3">
                    
                    <div class="input-group-append">

                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                    </div>
                    {{form.date_from}}
                </div>
                <label>Date End </label>
                <div class="input-group mb-2">
                    
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                    </div>
                    {{form.date_end}}
                </div>
                <label>Reason </label>
                <div class="input-group mb-2">
                    

                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-file-text-o"></i></span>
                    </div>
                    {{form.reason}}
                </div>
                <div class="d-flex justify-content-center mt-3 login_container">
                    <input class="btn btn-info " type="submit" value="Add">
                     
                    <a href="{% url 'home' %}" class="btn btn-info">back to home</a>
                </div>
            
            </form>
            {% endif %}
        </div>
    </div>

{%  endblock content %}